{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Console Archive</title>
</head>
<body>
    <nav> 
        {% comment %} this grabs the name from the urls.py {% endcomment %}
        <a href="{%url 'console_list'%}">show list</a>
        {% comment %} <a href="{%url 'console_details'%}">console details</a> {% endcomment %}
    </nav>
    
    {% block body%}
    {% endblock %}
</body>
</html>